{% extends 'assessment/base.html' %}
{% load django_tables2 %}

{% block content %}

    <div class="btn-group pull-right" role="group">
        {% if user_can_create_assessment %}
            <a class="btn btn-primary" href="{% url 'assessment.assess:create' category.slug %}">
                New Assessment
            </a>
        {% endif %}
        {% include 'assessment/include/reference_docs.html' %}
    </div>

    <h2>{{ category }} Assessments</h2>

    {% include 'assessment/include/filtered_assessments.html' %}

{% endblock content %}