{% extends 'assessment/base.html' %}

{% block content %}

    <div class="btn-group pull-right" role="group">
        {% if user_can_create_assessment %}
            <a class="btn btn-primary" href="{% url 'assessment.assess:group-create' group.slug %}">
                New Assessment Set
            </a>
        {% endif %}
        {% include 'assessment/include/reference_docs.html' with category=group %}
    </div>

    <h2>{{ group }} Assessment Sets</h2>

    {% include 'assessment/include/filtered_assessments.html' %}

{% endblock content %}