{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="powderflask @ Driftwood Cove Designs">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">

    <title>
       {% block title %}{% endblock title %} |  QA/QC
    </title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" integrity="sha384-HIipfSYbpCkh5/1V87AWAeR5SUrNiewznrUrtNz1ux4uneLhsAKzv/0FnMbj3m6g" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Antic" rel="stylesheet"  crossorigin="anonymous">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" >

    {% block extra_head %}{% endblock extra_head %}

  </head>

  <body class="{% if user.is_authenticated %} logged-in{% endif %} {% block body_class %}{% endblock %}">
    {% block body %}
      {% block navbar %}  {# brand comes from brand_context #}
        {% include 'include/navbar.html' %}
      {% endblock navbar %}

      <div class="container">
        <noscript>
            <div class="alert alert-warning">
              Please enable Javascript - sophisticated web applications required JS to work effectively.
            </div>
        </noscript>

        {% include 'include/messages.html' %}

        {% block content %}{% endblock content %}

      </div> <!-- container -->
      {% block footer %}
        {% include 'include/footer.html' %}
      {% endblock footer %}

    {% endblock body %}

    {% block scripts %}
        <!-- JQuery, Bootstrap, Select2: core JavaScript
        ================================================== -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js" integrity="sha384-222hzbb8Z8ZKe6pzP18nTSltQM3PdcAwxWKzGOKOIF+Y3bROr5n9zdQ8yTRHgQkQ" crossorigin="anonymous">
        </script>

    {% endblock scripts %}

    {% block aux %}{% endblock aux %}

  </body>
</html>